@model Expedia.HotelsOffers.Models.Search
@{
    ViewData["Title"] = "Find My Deal";
}
<style>
    hr {
        border-top: 1px solid #e9e9e9;
    }

    small-label {
        font-size: 11px
    }

    .navbar {
        margin-bottom: 0;
        border-radius: 0;
    }

    footer {
        background-color: #f2f2f2;
        padding: 25px;
    }

    a {
        cursor: pointer;
    }

    .no-padding {
        padding-left: 0px;
    }
    .btn {
        margin-bottom: 10px
    }
</style>
@using (Html.BeginForm())
{
    <div class="jumbotron">
        <div class="container-fluid">
            <h1>Lose no time!</h1>
            <p> Navigate through our various properties, and find the your deal </p>
            <hr />
            <div class="row form-group">
                <div class="col-md-6">
                    <div class="col-md-3">@Html.LabelFor(x => x.Criteria.Destination):</div>
                    <div class="col-md-9">@Html.TextBoxFor(x => x.Criteria.Destination, new { @class = "form-control" })</div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-4">@Html.LabelFor(x => x.Criteria.LengthOfStay):</div>
                    <div class="col-md-5">@Html.TextBoxFor(x => x.Criteria.LengthOfStay, new { @class = "form-control", type = "number", min = 1, step = 1 })</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <div class="col-md-4">@Html.LabelFor(x => x.Criteria.MinGuestRating) </div>
                    <div class="col-md-3"> @Html.TextBoxFor(x => x.Criteria.MinGuestRating, new { @class = "form-control", type = "number", min = 0, max = 5, step = 0.1 }) </div>
                    <div class="col-md-2">@Html.LabelFor(x => x.Criteria.MaxGuestRating) </div>
                    <div class="col-md-3">@Html.TextBoxFor(x => x.Criteria.MaxGuestRating, new { @class = "form-control", type = "number", min = 0, max = 5, step = 0.1 })</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <div class="col-md-4">@Html.LabelFor(x => x.Criteria.MinStarRating) </div>
                    <div class="col-md-3"> @Html.TextBoxFor(x => x.Criteria.MinStarRating, new { @class = "form-control", type = "number", min = 0, max = 5, step = 0.1 }) </div>
                    <div class="col-md-2">@Html.LabelFor(x => x.Criteria.MaxStarRating) </div>
                    <div class="col-md-3">@Html.TextBoxFor(x => x.Criteria.MaxStarRating, new { @class = "form-control", type = "number", min = 0, max = 5, step = 0.1 })</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <div class="col-md-4">@Html.LabelFor(x => x.Criteria.MinTotalRate) </div>
                    <div class="col-md-3"> @Html.TextBoxFor(x => x.Criteria.MinTotalRate, new { @class = "form-control", type = "number", min = 0, step = 10 }) </div>
                    <div class="col-md-2">@Html.LabelFor(x => x.Criteria.MaxTotalRate) </div>
                    <div class="col-md-3">@Html.TextBoxFor(x => x.Criteria.MaxTotalRate, new { @class = "form-control", type = "number", min = 0, step = 10 })</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <div class="col-md-4">@Html.LabelFor(x => x.Criteria.MinTripStartDate) </div>
                    <div class="col-md-3"> @Html.TextBoxFor(x => x.Criteria.MinTripStartDate, new { @class = "form-control", type = "date" }) </div>
                    <div class="col-md-2">@Html.LabelFor(x => x.Criteria.MaxTripStartDate) </div>
                    <div class="col-md-3">@Html.TextBoxFor(x => x.Criteria.MaxTripStartDate, new { @class = "form-control", type = "date" })</div>
                </div>
            </div>
            <div class="row">
                <input type="submit" value="Search" class="btn btn-primary pull-right" />
            </div>
        </div>
    </div>

}
<div class="container-fluid bg-3 text-center">
    @if (Model.Hotels != null && Model.Hotels?.Count != 0)
    {
        <h3>Here you go!</h3><br>

        <div class="row">
            @foreach (var hotel in Model.Hotels)
            {
                <div class="col-sm-6" style="">
                    <div class="card" style="margin:10px; background-color:#eee">
                        <a href="@Uri.UnescapeDataString(hotel.HotelUrls.HotelSearchResultUrl)">
                            <img class="card-img-top" src="@hotel.HotelInfo.HotelImageUrl" alt="Image">
                        </a>
                        <p class="card-block">
                            <h4 class="card-title">
                                <a href="@Uri.UnescapeDataString(hotel.HotelUrls.HotelSearchResultUrl)">
                                    @hotel.HotelInfo.HotelName
                                </a>
                            </h4>
                        <p class="card-text">
                            <strong>Hotel located in: </strong> @hotel.Destination.longName, <strong> Offer valid from </strong> @hotel.offerDateRange.TravelStartDate.CreateDateString() till @hotel.offerDateRange.TravelStartDate.CreateDateString())
                        </p>
                        <p>
                            Save <strong> @hotel.HotelPricingInfo.PercentSavings%</strong> It will cost <strong>@hotel.HotelPricingInfo.TotalPriceValue</strong> | <span style="text-decoration: line-through">@hotel.HotelPricingInfo.TotalPriceValue</span>
                        </p>
                        <p>
                          Hotel Rate <strong>@hotel.HotelInfo.HotelStarRating</strong> given by <strong>@hotel.HotelInfo.HotelReviewTotal</strong> reviewer
                        </p>
                        
                        <a href="@Uri.UnescapeDataString(hotel.HotelUrls.HotelInfositeUrl)" class="btn btn-success">View More Info</a>
                    </div>
                </div>
            }
        </div>
    }
</div><br>